<p-card>
    <ng-template pTemplate="header">
        <h5 class="pt-4 pl-4">Verify KYC Details - Bank Details</h5>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="form" class="ml-4">
            <div class="p-grid p-field">
                <div class="p-col-6 row">
                    <label class="p-col-3 col-form-label">Name:</label>
                    <div class="p-col-6">
                    <input type="text" pInputText class="form-control" formControlName="name">
                    </div>
                </div>
                <div class="p-col-6 row">
                    <label class="p-col-3 col-form-label">Email:</label>
                    <div class="p-col-6">
                    <input type="text" pInputText class="form-control" formControlName="email">
                    </div>
                </div>
            </div>

            <div class="p-grid p-field">
                <div class="p-col-6 row">
                    <label class="p-col-3 col-form-label">Mobile Number:</label>
                    <div class="p-col-6">
                    <input type="text" pInputText class="form-control" formControlName="mobileNumber">
                    </div>
                </div>
                <div class="p-col-6 row">
                    <label class="p-col-3 col-form-label">Acount Number:</label>
                    <div class="p-col-6">
                    <input type="text" pInputText class="form-control" formControlName="accountNumber">
                    </div>
                </div>
            </div>

            <div class="p-grid p-field">
                <div class="p-col-6 row">
                    <label class="p-col-3 col-form-label">Account type:</label>
                    <div class="p-col-6">
                    <input type="text" pInputText class="form-control" formControlName="accountType">
                    </div>
                </div>
                <div class="p-col-6 row">
                    <label class="p-col-3 col-form-label">IFSC Code:</label>
                    <div class="p-col-6">
                    <input type="text" pInputText class="form-control" formControlName="ifsc_Code">
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div class="p-col-6">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="pr-2"></p-button>
            </div>
            <div class="p-col-6">
                <p-button label="Save" (onClick)="nextPage(true)" icon="pi pi-angle-right" iconPos="right"></p-button>     
            </div>
    </div>
    </ng-template>
</p-card>
