<div class="col-md-12 background">
    <div class="row" style="height: 100%">
      <div class="col-md-3 side-bg-clr">
        <app-sidemenu></app-sidemenu>
      </div>
      <div class="col-md-9 content-extend">
        <div class="card">
          <div class="header">
            <div class="p-grid p-jc-end">
                <h4 class="font-bold mt-30 ml-1 mr-30"><b> Dahoboard</b></h4>
                <app-header style="margin-left: auto;"></app-header>
            </div>
            </div>
              <router-outlet style="height: calc(100vh - 180px);"></router-outlet>
        </div>
      </div>
    </div>
</div>
