<p-card>
    <ng-template pTemplate="header">
        <h5 class="pt-4 pl-4">Verify KYC Details - Adhar Number</h5>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="form" class="ml-4">
            <div class="p-grid p-field">
                <div class="p-col-6 row">
                    <label class="p-col-3 col-form-label">Adhar Number:</label>
                    <div class="p-col-8">
                    <input type="number" pInputText class="form-control" formControlName="adharNumber">
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
            <div class="p-grid">
                <div class="p-col-6">
                    <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" class="pr-2"></p-button>
                </div>
                <div class="p-col-6">
                    <p-button label="Next" (onClick)="nextPage(true)" icon="pi pi-angle-right" iconPos="right"></p-button> 
                </div>
        </div>
    </ng-template>
</p-card>